<div id="menu-container">
    <label id="menu-btn" for="menu-check"><i class="bi bi-list"></i></label>
    <input type="checkbox" id="menu-check">
    <div id="link-container">
        <div class="group-link">
            <input type="checkbox" id="check" />
            <div class="menu-link">
                <label for="check">
                    <span class="menu-icon"><i class="bi bi-archive-fill"></i></span>
                    <span class="menu-text">Stok</span>
                </label>
                <a href="productpage" class="alt-menu-link">
                    <span class="alt-menu-icon"><i class="bi bi-tags-fill"></i></span>
                    <span class="alt-menu-text">Ürünler</span>
                </a>
                <a href="categorypage" class="alt-menu-link">
                    <span class="alt-menu-icon"><i class="bi bi-filter-left"></i></span>
                    <span class="alt-menu-text">Kategori</span>
                </a>
            </div>
        </div>
        <a href="userpage" class="menu-link">
            <label>
                <span class="menu-icon"><i class="bi bi-person-circle"></i></span>
                <span class="menu-text">Kullanıcılar</span>
            </label>
        </a>
    </div>
</div>

@code {

}