@inherits LayoutComponentBase
@using BlazorAutomationApp.Shared.Components.Header
@using BlazorAutomationApp.Shared.Components.NavMenu

<MainNavMenu/>

<MainHeader/>

<div id="page-content">
    <div id="page-content-area">
        @Body
    </div>
</div>
