@inherits LayoutComponentBase
@using BlazorAutomationApp.Shared.Components.Header
@using BlazorAutomationApp.Shared.Components.NavMenu

<StartHeader />

<div style="margin:auto;padding-left:80px;padding-right:80px;" id="page-content">
    <div id="page-content-area">
        @Body
    </div>
</div>
