@font-face {
    font-family: worksans;
    src: url(font/WorkSans-Extra-Light.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: worksans, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #141820;
    height: 100vh;
}