@page "/"
@layout StartLayout
@using BlazorAutomationApp.Pages.Start

<label class="content-lbl-title">Başlangıç Ekranı</label>

<div class="container p-4">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><i class="bi bi-boxes"></i> BLAZOR STOCK</h1>
            <p class="lead">.Net Blazor Automation Application Example</p>
            <hr class="my-4">
            <p>Github: furkan-yorulmaz</p>
            <p>LinkedIn: furkan-yorulmaz</p>
            <p>Google: furkanyorulmazlive</p>
        </div>
    </div>
</div>

@code {

}